<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735145859459-jfmpjoc990m1gg2aed00aef29odshfvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735145859459-jfmpjoc990m1gg2aed00aef29odshfvh</string>
	<key>API_KEY</key>
	<string>AIzaSyC1hXB_Q3Azr9iOT1otWRZNMUif7-MZLLg</string>
	<key>GCM_SENDER_ID</key>
	<string>735145859459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testflutter</string>
	<key>PROJECT_ID</key>
	<string>testflutter-4e8d9</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutter-4e8d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735145859459:ios:c7141c020c29c1b2c4feb6</string>
</dict>
</plist>